// Colors
$form-background-color_3: #B2A3B5;
$form-background-color_1: #589ea6;
$form-background-color_2: #FAF8D4;
$body-background-color: #ebdccb;
$color-tbd: white;
$headlines-color: #333;

// Fonts
$heading-family: 'Karla', sans-serif;
$body-font: 'Playfair Display', serif;