// Colors
$body-background-color: #B2A3B5;
$form-background-color: #589ea6;
$form-background-color_2: #FAF8D4;
$form-background-color_3: #ebdccb;
$input-color: white;
$headlines-color: #333;

// Fonts
$font-family: 'Karla', sans-serif;
$heading-font: 'Playfair Display', serif;