@media (max-width: 768px) {
body{
    background-color: #FAF8D4;
    font-family: 'Karla', sans-seri;
    padding: 10px;

}

body p{
    font-size: 20px;
}

body h3 {
    font-size: 40px;
    text-transform: uppercase
}

body a{
    color: #333;
    text-decoration: none;
    font-size: 30px;
}

h1{
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

h1::after {
    content: "";
    display: block;
    height: 3px; 
    background-color: black;
    margin-top: 1em;
}

.intro header {
    position: relative; 
}
  
.intro header h1::before {
    content: '';
    display: block;
    width: 50px; 
    height: 50px;
    background-color: #B2A3B5; 
    border-radius: 50%; 
    position: absolute;
    top: calc(100% + -270px);
    right: -6%;
    transform: translateX(-50%); 
    padding-bottom: 5px;
}

h2{
    padding-top: 90px;
    font-size: 60px;
    text-transform: uppercase;
}

/* CSS to style the links in rectangle boxes */

p > a[href="/examples/index"] {
    display: inline-block;
    padding: 8px 12px;
    border: 3px solid black;
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}
  
p > a[href="/examples/index"]:hover {
    background-color: #e0e0e0;
}
  
p > a[href="/examples/style.css"] {
    display: inline-block;
    padding: 8px 12px;
    border: 2px solid black;
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

p > a[href="/examples/style.css"]:hover {
    background-color: #e0e0e0;
}
  
/* break in between intro */

.intro h3::before {
    content: '';
    display: block;
    height: 40px; 
    background: linear-gradient(to right, #589ea6 75%, #ebdccb 25%); /* Half white, half black gradient */
    margin: 5px 0; 
    border: 3px solid black;
}

.intro h3 {
    padding-top: 80px;
    position: relative; 
    font-size: 40px;
}


.intro h3::before {
    position: absolute;
    top: -10px; 
    left: 0;
    right: 0;
}

.intro{
    padding-bottom: 30px;
}

/* TO DO : there is only one ball showing instead of three */

/* the three little circles */

.explanation{
    background-color: #589ea6;
    padding: 10px;
}
.explanation p{
    color: white;
}
.explanation h3 {
    padding: 1px;
    padding-top: 40px;
    position: relative; 
    color: white;
    font-size: 20px;
}

.explanation h3::before {
    content: ''; 
    position: absolute; 
    top: -10px; 
    left: 0; 
    display: inline-block;
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    background-color: white; 
    margin-right: 5px; 
}

.explanation h3::before:nth-child(2) {
    top: -20px; 
    left: 20px; 
}

.explanation h3::before:nth-child(3) {
    top: -30px; 
    left: 50px; 
}

/* participation */

.participation h3{
    font-size: 40px;
}

#zen-benefits {
    background-color: #B2A3B5; /* Light grey background color */
}
  
#zen-benefits {
    content: "";
    display: block;
    border-top: 5px solid black; 
    margin-bottom: 20px; 
}
  
#zen-benefits::after {
    content: "";
    display: block;
    border-top: 80px solid black; 
    margin-top: 20px; 
}

/* TO DO : transparent circle is showing put not positioning correctly  */

/* .benefits::before {
    float: right;
    background-color: transparent;
    margin-left: 20px;
    position: relative;
    width: 40px; 
    height: 40px;
    border: 2px solid white;
    border-radius: 50%; 
} */
  

.benefits h3 {
    padding-top: 20px;
    font-size: 30px;
}

.requirements h3{
    padding-top: 30px;
    font-size: 40px;
}

/* no footer is display ? */

footer{
    display: none;
}

 /* bullet section */

.requirements::after {
    content: "";
    display: block;
    height: 3px; 
    background-color: black;
    margin-top: 1em;
}

.design-selection::after {
    content: "";
    display: block;
    height: 3px; 
    background-color: black;
    margin-top: 1em;
}

.design-selection h3 {
   font-size: 40px;
}

.design-selection .select {
    display: none; 
}

.design-selection::before {
    content: "VIEW ALL DESIGNS"; 
    font-size: 40px;
    margin-bottom: 40px; 
    margin-top: 40px;
    display: block; 
}

 .design-selection ul {
    list-style-type: none; 
    counter-reset: my-counter; 
}

.design-selection ul li {
    position: relative;
}
    
.design-selection ul li::before {
    content: counter(my-counter); 
    counter-increment: my-counter; 
    position: absolute; 
    font-size: 50px;
    left: -20px; 
    top: 20%; 
    transform: translateY(6%); 
    width: 60px; 
    height:60px; 
    text-align: center; 
    line-height: 20px; 
    background-color: lightgrey; 
    border-radius: 50%; 
}

.design-selection nav ul li {
    margin-bottom: 60px;
}

.design-selection .select {
    margin-bottom: 30px; 
    margin-top: 30px;
}


.design-selection li {
    font-size: 20px;
    padding-left: 50px;
}

.design-selection li a{
    font-weight: bold;
}


}

@media (min-width: 768px) {
    body {
        width: 90vw; 
        height: 100vh; 
        padding: 80px; 
        border: 1px solid #ccc; 
        font-size: 16px; 
        line-height: 1.5; 
        background-color: #FAF8D4; 
        color: #333;
    }

    header{
        display: grid;
        grid-template-columns: 15% 85%;
        padding: 80px;
    }

    header h2{
        padding-left: 80px;
        padding-top: 900px;
        border-bottom: 8px solid black;
    }
    
    .summary{
        text-align: center;
        border: 8px solid black;
    }

    /* rectangle boxes for links */

    p > a[href="/examples/index"] {
        display: inline-block;
        padding: 8px 12px;
        border: 3px solid black;
        text-decoration: none;
        color: #333;
        margin-right: 10px;
    }
        
    p > a[href="/examples/index"]:hover {
        background-color: #e0e0e0;
    }
        
    p > a[href="/examples/style.css"] {
        display: inline-block;
        padding: 8px 12px;
        border: 2px solid black;
        text-decoration: none;
        color: #333;
        margin-right: 10px;
    }
        
    p > a[href="/examples/style.css"]:hover {
        background-color: #e0e0e0;
    }

    .page-wrapper {
        display: grid;
        gap: 20px;
        grid-template-areas:
          "header header"
          "summary summary"
          "preamble preamble"
          "explanation explanation"
          "participation participation"
          "requirements requirements"
          "sidebar sidebar"      
    }
      
    .sidebar{
        grid-area: sidebar;
    }
    #zen-intro {
        grid-area: header;
    }
      
    #zen-summary {
        grid-area: summary;
    }
      
    #zen-preamble {
        grid-area: preamble;
    }


    #zen-participation,
    #zen-benefits {
        display: inline-block; 
        width: 50%;
        vertical-align: top; 
        padding: 0;
    }
        
    #zen-benefits::after {
    content: "";
    display: block;
    border-top: 900px solid black;
    margin-top: 20px;
    }

      
    #zen-explanation {
        grid-area: explanation;
    }
      
    #zen-participation {
        grid-area: participation;
    }
      
    #zen-benefits {
        float: right;
        grid-area: benefits;
    }
      
    #zen-requirements {
        grid-area: requirements;
    }
      
    .wrapper{
        display: grid;
        gap: 20px;
        grid-template-areas:
          "design design"
          "archives resources"; 
    }

    #design-selection {
        grid-area: design;
    }
      
    #zen-resources {
        grid-area: resources;
    }
      
    #design-archives {
        grid-area: archives;
    }

    
    .design-selection .select {
        display: none; 
    }
    
    .design-selection::before {
        content: "VIEW ALL DESIGNS";
        float: right; 
        font-size: 100px;
        margin-bottom: 40px; 
        margin-top: 40px;
        display: block; 
    }

    .sidebar .design-selection {
        border: 1px solid;
        flex: 1;
        padding: 50px;
    }
    
    .sidebar .design-selection nav ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-left: 100px;
    }
    
    .sidebar .design-selection nav ul li {
        position: relative;
        padding-left: 100px;
        margin-bottom: 30px;
        text-align: left;
        font-family: 'Karla', sans-serif;
        display: flex;
        flex-direction: column;
    }
    
    .sidebar .design-selection nav ul .design-name {
        margin-bottom: 5px;
        display: inline-block;
    }
    
    .sidebar .design-selection nav ul li::before {
        content: attr(data-number);
        font-size: 100%;
        position: absolute;
        left: 0;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #333;
        color: white;
        text-align: center;
        line-height: 80px;
    }
    
    .sidebar .design-selection nav ul li:nth-child(1)::before {
        content: "1";
        font-size: 400%;
    }
    
    .sidebar .design-selection nav ul li:nth-child(2)::before {
        content: "2";
        font-size: 400%;
    }
    
    .sidebar .design-selection nav ul li:nth-child(3)::before {
        content: "3";
        font-size: 400%;
    }
    
    .sidebar .design-selection nav ul li:nth-child(4)::before {
        content: "4";
        font-size: 400%;
    }
    
    .sidebar .design-selection nav ul li:nth-child(5)::before {
        content: "5";
        font-size: 400%;
    }
    
    .sidebar .design-selection nav ul li:nth-child(6)::before {
        content: "6";
        font-size: 400%;
    }
    
    .sidebar .design-selection nav ul li:nth-child(7)::before {
        content: "7";
        font-size: 400%;
    }

    .sidebar .design-selection nav ul li:nth-child(8)::before {
        content: "8";
        font-size: 400%;
    }
    
    .sidebar .design-archives, .zen-resources {
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        border: 1px solid;
    }
    
    /* .sidebar .design-archives h3,
    .zen-resources h3 {
        font-size: 30px;
    } */
    
    .sidebar .design-archives ul,
    .zen-resources ul {
        padding: 50px;
        margin: 0px;
    }
    
    .sidebar .design-archives li,
    .zen-resources li {
        text-align: left;
    }   
    
    .design-selection {
        padding: 80px;
    }

    footer{
        display: none;
    }

    h1{
        background-color: #B2A3B5;
        color: white;
        font-size: 90px;
    }

    .intro header h1::before {
        content: '';
        display: block;
        width: 250px; 
        height: 250px;
        background-color: #B2A3B5; 
        border-radius: 50%; 
        position: absolute;
        top: calc(10% );
        right: 190px;
        transform: translateX(-50%); 
        padding-bottom: 5px;
        border: 5px solid black;
    }

    h1::after{
        content: "";
        display: block;
        height: 8px;
        background-color: black;
        margin-top: 1em;
    }
        
    h2{
        font-size: 150px;
        border-left: 8px solid black;
    }
        
    h3 {
        text-align: left;
        font-size: 100px;
        text-transform: uppercase;
        font-family: 'Playfair Display', serif;
        padding: 20px;
    }

    .intro h3::before {
        content: '';
        display: block;
        height: 110px;
        width: auto;
        background: linear-gradient(to right, #589ea6 75%, #B2A3B5 25%); 
        margin: 5px;
        border: 8px solid black;
    }
        
    a {
        font-size: 65px;
        color: inherit; 
        text-decoration: none; 
    }

    p{
        font-size: 65px;
    }

    .preamble {
        padding: 80px;
    }

    .requirements {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        border: 1px solid;
        padding: 50px;
    }
    
    .requirements h3 {
        grid-column: 1 / -1;
        margin-bottom: 20px;
    }
    
    .requirements p {
        grid-column: 2 / 4;
        text-align: left;
    }
    
    .explanation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #589ea6;
        padding: 80px;
    }
    
    .explanation h3 {
        grid-column: 2 / 3;
        color: white;
    }
    
    .explanation p {
        grid-column: 2 / 3;
        text-align: left;
        color: white;
    }

    .explanation h3::before {
        content: '';
        position: absolute;
        /* top: -10px; */
        left: 0;
        display: inline-block;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-color: #ebdccb;
        margin-right: 5px;
        border: 8px solid #333;
    }
      
    .benefits{
        display: block;
        border-top: 8px solid black;
        background-color: #B2A3B5;
        padding: 80px;
    }
}